.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.links:hover,
.links:focus {
 color: #404bbf;
}


h1,
h2,
h3,
h4,
p{
  margin-top: 0;
  margin-bottom: 0;
}
ul,ol{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;

}
img{
display: block;
}
button{
cursor: pointer;
}
.container {
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-right: 15px;
padding-left: 15px;
}
.sections{
  padding-top: 120px;
  padding-bottom: 120px;
}
body {
  font-family: 'Roboto', sans-serif;
  color:var(--slate);
  background-color: #ffffff;
}
:root {
  --naviblue: #2e2f42;

  --slate: #434455;

  --white: #ffffff;

  --cloud: #f4f4fd;

  --iris: #4d5ae5;
  
  --ocean: #404bbf;
  
  --card-set-gap: 24px;

  --border: 1px solid #e7e9fc;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}
/* Logotip */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em ;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.studio-logo-header{
  color: var(--naviblue);
}
.studio-logo-footer{
  color: #f4f4fd;
}
/* Header Navigation */

.header-page-container{
display: flex;  
align-items:center ;
}
.page-header{
  border-bottom: 1px solid #e7e9fc;
}
.page-nav{
  display: flex;
  align-items: center; 
  padding: 24px 0;
}
.menu{
  display:flex;
  gap: 40px;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color:#2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
/* Adress  */
.address-header{
  font-style: normal;
  margin-left: auto;
}
.header-contacts{
display: flex;
align-items: center;
gap: 40px;
}
 .address-item{
margin-left: auto;
}
.address-link { 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate) ;
}
/* Main menu  */

/* Section 1 */
.hero {
 padding: 188px 0;
 background-color: #2e2f42; 
 /* background-image:linear-gradient(rgba(46, 47, 66, 0.7) rgba(46, 47, 66, 0.7) ;) url(./images/hero/);
 background-size:cover ; */
}
.hero-tex {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
 }

.button-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 15);
  border-radius: 4px;
  display: block;
  min-width: 169px;
  min-height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.button-hero:focus,
.button-hero:hover {
color: #ffffff;
background-color: #404bbf;

}
/* Section 2 */
.soft-skills{
 display: flex;
 gap: 24px;
}
.soft-skills-item{
  flex-basis: calc((100% - 72px) / 4);
}
/* Section 3 */

.our-works{
  display: flex;
  gap: 24px;
}
.our-works-item{
  flex-basis: calc((100% - 48px) / 3);
}
/* Section 4 */
.section-three{
  padding-bottom: 120px;
}
.section-four {
  background-color: #f4f4fd;
}
.our-team{
  display: flex;
  gap: 24px;
}
.our-team-card{
background-color: #ffffff;
flex-basis:calc((100%-72/4));
text-align: center;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
border-top: none;
width: calc((100% - 72px) / 4);
}

.our-team-text { 
  padding-top: 32px ;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* Sections  */

.suptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--naviblue);
  text-transform: capitalize;
  margin-bottom: 8px;
}
.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);

}
.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
/* Portfolio  */
.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-group {
  display: flex;
  justify-content: center;
  margin-bottom:72px;
  gap: 24px;
}

.portfolio-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: var(--border);
  border-radius: 4px;
  padding: 12px 24px 12px 24px  ;
}

.portfolio-button:focus,
.portfolio-button:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: var(--border);
  border: 1px solid transparent;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.project-card-item {
  width: calc((100% - 48px) / 3);
}

/* .project-card-item:not(:nth-child(3n)){
  margin-right: 24px;
}
.project-card-item:not(:nth-last-child(-n + 3)){
margin-bottom: 48px;
} */

/* footer */
.footer {
  background:#2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.logo-footer{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}

